name: Build Pipeline

on:
  workflow_call:
jobs:
  build:
    name: Build Site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Clean Site Output (Optional)
        run: |
          if [ -d "_site" ]; then
            rm -rf _site
          fi

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Build Jekyll Site
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site

# if Deploy stage depend on build artifact use next:
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          name: pages-${{ github.ref_name }}