name: Enforce Dynamic Branch Protection Rules 
# Branch protection is static in branch-protection.yml, and enforce-protection.yml with parse-and-apply.py is the dynamic workflow that applies any changes you make in static file.
on: # works just push to same file names even if not on mai branch and also when open pr on main 
  pull_request:
    branches: 
      - main
      - release 
  push:
    paths:
      - .github/branch-protection.yml
      - .github/scripts/parse-and-apply.py

permissions:
  contents: write  # Needed to update branch protection
  actions: read

jobs:
  enforce:
    name: Enforce Branch Protection
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install GitHub CLI and PyYAML
        run: |
          sudo apt-get update
          sudo apt-get install -y gh python3-pip
          pip install pyyaml

      - name: Apply Branch Protection from YAML
        env:
          GH_TOKEN: ${{ secrets.FORCE_PROTECTION }}
        run: python .github/scripts/parse-and-apply.py
